---
import Layout from "../layouts/Layout.astro";

---

<Layout title="">
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-24" style="background-image:url('/img/AdobeStock_582485671.jpeg')">
		<div class="container my-auto text-center py-7">
			<h1 class="md:text-7xl font-extrabold text-blue-900 text-5xl">
                INSPIRE 2 INNOVATE
			</h1>
		</div>
		</div>
	</main>
    <section class=" pb-24">
        <div  style="background-image: url('img/microphone-headphones-for-singing-recording-stud-2022-05-18-04-17-17-utc.jpg');" class=" object-contain">
            <div class="px-10 py-10 text-white text-center space-y-4">
                <p class=" md:text-4xl font-extrabold text-3xl justify-center">INNOVATION, TECHNOLOGY, AND ENTREPRENEURSHIP </p>
                <p class="md:text-3xl text-2xl justify-center">WEBINARS BEYOND HORIZONS.</p>
                <p class="md:text-2xl text-xl justify-center"> April 7th, 2020  Onwards</p>
            </div>
        </div>
    </section>
    
    <section class="px-12 pb-24">
        <div class="flex flex-col md:flex-row">
            <div class="flex md:w-1/3 w-full items-center justify-center my-auto">
                <img src="img/png-transparent-kerala-startup-mission-hd-logo-thumbnail-removebg-preview.png" class=" my-auto object-contain">
            </div>
            <div class="flex flex-col md:w-2/3 text-justify w-full items-center justify-center">
                <h1 class="pb-3 text-2xl font-bold text-blue-900">Kerala Startup Mission is set to organise webinar series for the student champions in three major areas – Innovation, Technology, and Entrepreneurship.</h1>
                <p>Are you someone looking ahead to be a successful entrepreneur in your life? Do you wish to learn from people who had travelled the road that no one had travelled? Take this opportunity to hear the amazing stories of some of the most inspirational people and to be inspired to get started with building your dreams. Inspire2Innovate is a 20 days webinar series starting from the 7th of April 2020, bringing in 20+ inspiring minds to you all. The talks will be centred around <span class=" font-semibold">Innovation, Technology & Entrepreneurship.</span></p>
            
            </div>
        </div>
    </section>

    <section class="pb-24">
        <div class=" bg-blue-900 text-white">
            <h1 class=" md:text-4xl text-2xl font-bold p-3 text-center">MEET OUR SPEAKERS</h1>
        </div>
    </section>
    <section class="pb-24 px-12">
        <div class="flex flex-col md:flex-row  w-full md:space-x-4 space-x-0 md:space-y-0 space-y-4 text-center mt-4">
            <div class="flex-col md:w-1/3 w-full space-y-1  border p-4 relative h-96">
                <p class="text-base">DAY 1</p>
                <p class="text-sm">07th April 2020  05:00 PM IST</p>
                <img src="img/1.jpg" class=" mx-auto object-contain w-44 h-44">
                <p class=" text-xl font-bold">ARUN SURENDRAN</p>
                <p class="text-sm font-semibold  justify-center mx-auto">Principal and Strategic Director, Trinity College of Engineering  </p>
                <p class="  text-blue-700 font-semibold">Topic: The Art of Innovation</p>
                <a href="" class="bg-blue-900 text-white px-3 font-semibold absolute inset-x-0 bottom-0">Watch on Youtube</a>
            </div>
            <div class="flex-col md:w-1/3 w-full space-y-1 border p-4 relative h-96">
                <p class="text-base">DAY 2</p>
                <p class="text-sm">08th April 2020  03:00 PM IST</p>
                <img src="img/2.jpg" class=" mx-auto object-contain w-44 h-44">
                <p class=" text-xl font-bold">SANTHOSH KURUP</p>
                <p class="text-sm font-semibold  justify-center mx-auto">Chief Executive Officer, ICT Academy of Kerala</p>
                <p class="  text-blue-700 font-semibold">Topic: Need of skill training & Student Startup Ecosystem </p>
                <a href="" class="bg-blue-900 text-white px-3 font-semibold absolute inset-x-0 bottom-0">Watch on Youtube</a>
            </div>
            <div class="flex-col md:w-1/3 w-full space-y-1  border p-4 relative h-96">
                <p class="text-base">DAY 3</p>
                <p class="text-sm">09th April 2020  02:00 PM IST</p>
                <img src="img/3.jpg" class=" mx-auto object-contain w-44 h-44">
                <p class=" text-xl font-bold">NIVEDHA R.M</p>
                <p class="text-sm font-semibold  justify-center mx-auto">Founder - TrashCon</p>
                <p class="  text-blue-700 font-semibold">Topic: The Entrepreneurial journey </p>
                <a href="" class="bg-blue-900 text-white px-3 font-semibold absolute inset-x-0 bottom-0">Watch on Youtube</a>
            </div>
            
        </div>

        <div class="flex flex-col md:flex-row  w-full md:space-x-4 space-x-0 md:space-y-0 space-y-4 text-center mt-4">
            <div class="flex-col md:w-1/3 w-full space-y-1  border p-4 relative h-96">
                <p class="text-base">DAY 4</p>
                <p class="text-sm">10th April 2020  06:00 PM IST</p>
                <img src="img/4.jpg" class=" mx-auto object-contain w-44 h-44">
                <p class=" text-xl font-bold">ROBIN TOMMY</p>
                <p class="text-sm font-semibold  justify-center mx-auto">Innovation Strategist | StoryTeller | Startup Mentor | EmTech Advisor | Human Centric Innovator | TEDx Speaker.</p>
                <p class="  text-blue-700 font-semibold">Topic: Social Innovation and Sustainability</p>
                <a href="" class="bg-blue-900 text-white px-3 font-semibold absolute inset-x-0 bottom-0">Watch on Youtube</a>
            </div>
            <div class="flex-col md:w-1/3 w-full space-y-1 border p-4 relative h-96">
                <p class="text-base">DAY 5</p>
                <p class="text-sm">11th April 2020 05:00 PM IST</p>
                <img src="img/5.jpg" class=" mx-auto object-contain w-44 h-44">
                <p class=" text-xl font-bold">DR SAJI GOPINATH</p>
                <p class="text-sm font-semibold  justify-center mx-auto">CEO, Kerala Startup Mission</p>
                <p class="  text-blue-700 font-semibold">Topic: Embracing the Future: Innovation & Disruption </p>
                <a href="" class="bg-blue-900 text-white px-3 font-semibold absolute inset-x-0 bottom-0">Watch on Youtube</a>
            </div>
            <div class="flex-col md:w-1/3 w-full space-y-1  border p-4 relative h-96">
                <p class="text-base">DAY 6</p>
                <p class="text-sm">12th April 2020 . 05:00 PM IST</p>
                <img src="img/6.jpg" class=" mx-auto object-contain w-44 h-44">
                <p class=" text-xl font-bold">VIMAL GOVIND MK</p>
                <p class="text-sm font-semibold  justify-center mx-auto">Co-Founder,CEO & Product Architect at Genrobotic Innovations</p>
                <p class="  text-blue-700 font-semibold">Topic: Zero to One - Startup Founder perspective</p>
                <a href="" class="bg-blue-900 text-white px-3 font-semibold absolute inset-x-0 bottom-0">Watch on Youtube</a>
            </div>
            
        </div>

    </section>

</Layout>
