---
import Layout from "../layouts/Layout.astro";

import '../../public/css/style.css';
import '../../public/js/main.js'
---

<Layout title="">
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-24" style="background-image:url('/img/AdobeStock_582485671.jpeg')">
		<div class="container my-auto text-center py-7">
			<h1 class="md:text-7xl font-extrabold text-blue-900 text-5xl">
                IEDC NEST
			</h1>
		</div>
		</div>
	</main>
    <section class="pb-24 px-12 py-24">
		<div class="flex md:flex-row flex-col md:space-x-10 space-x-0 ">
			<div class="flex md:w-1/2 w-full mx-auto md:mt-0 mt-4">
				<img src="../img/NEST.png" class=" rounded-3xl object-center">
			</div>
			<div class="md:w-1/2 w-full">
				<h2 class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl">IEDC NEST</h2>
				<p class="w-full text-justify">IEDCs acts as the first launch pad for a student’s entrepreneurial journey and the aim of the program, Network of Entrepreneurs & Students’ Team (NEST) is to bring together innovators from IEDC to give them the opportunity to lead the IEDC activities on a State Level.</p>

					<p class="w-full text-justify">The application call for the IEDC NEST - Network of Entrepreneurs & Student Team is open now. NEST will comprise IEDC students who will volunteer directly under the supervision of the IEDC Kerala Startup Mission. The aim of this program is to identify highly skilled IEDC student volunteers and familiarize them with the working of a professional body and provide them with various opportunities to work closely with the IEDC and KSUM.
					</p>
                    <p class="w-full text-justify">The proposed team shall be intricately chosen from the set of applicants through rounds of interviews and screening. Interested students can submit their applications in the above link</p>
					
                    <p class=" italic text-red-700 py-10 text-lg">Application open now Last date : 20 May 2023</p>
                    <a href="https://docs.google.com/forms/d/1HaGyGALDuT2ryMIG2tp4boiYvVzSpfBFq_K6aT06THU/viewform?edit_requested=true" 
					target="_blank" class="mt-3 rounded-xl modal-open inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-gray-200  hover:bg-gray-200 hover:text-black focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 float-right">
						Apply Now
                </a>
		</div>
	</section>


    <section class="pb-24 px-12">
		<h1 class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl text-center">The Genesis of IEDC NEST</h1>
        <h1 class="text-center text-red-800 text-xl font-bold">NETWORK OF ENTREPRENEURS AND STUDENTS' TEAM</h1>
        
        <div class="flex md:flex-row flex-col pt-10 ">
            <div class="flex md:w-1/2 w-full px-5 flex-col pt-5">
                <p class="flex w-full text-justify">IEDCs work as the first launch pad for a student’s entrepreneurial journey and the aim of the program, Network of Entrepreneurs & Students’ Team (NEST) is to bring together innovators from IEDC to give them the opportunity to lead the IEDC activities on a State Level.</p>
                <p class="flex w-full text-justify py-2">Innovators Premier League (IPL) was the classic example where the activities were student-driven and KSUM observed that effective leadership was showcased by the student ambassadors and student regional leaders. Each college already has leads in Quality & Management, Finance, Creative & Innovation, Technology, Branding & Marketing, and Community Development but bringing them together at a State Level requires Leadership from Students where the program will be owned, driven, and executed by students, for students and hence the proposal for NEST. </p>
                <p class="w-full text-justify">The objective of NEST is to mould a team of young talents across the state to run the programs effectively and thereby accelerate each one of their leadership qualities.</p>
					
            </div> 
            <div class="md:flex w-1/2 hidden overflow-hidden">
                <img src="../img/AdobeStock_564170163.jpeg" class=" hover:opacity-75 hover:scale-125 hover:duration-200">
            </div> 
        </div>

        <div class="flex md:flex-row flex-col">
           
            <div class="md:flex w-1/2 hidden overflow-hidden">
                <img src="../img/AdobeStock_579904085.jpeg" class=" hover:opacity-75 hover:scale-125 hover:duration-200">
            </div> 
            <div class="flex md:w-1/2 w-full px-5 flex-col pt-8">
                <h1 class="w-full pb-4 md:text-xl text-blue-900 font-extrabold text-xl text-center">Selection Process</h1>
                <p class="flex w-full text-justify">The selection process for NEST was done through an open call in the IEDC Network and from the 215 applications received, 24 changemakers were selected through online interviews. The students will have the opportunity to exhibit their leadership skills for one year and the selected student team will be provided with mentorship and training so that they can successfully make use of the IEDC Platform in bringing all the recipes of entrepreneurship together.</p>
                <p class="flex w-full text-justify py-2">The students have been identified both at the State level and Regional Level under a few categories - State Lead, Marketing Lead, Creative Lead, Operations Lead, Web Lead, and Women Entrepreneurship Lead.</p>
                
               <div class=" text-end">
                <a href="https://drive.google.com/file/d/1jCgGOLnEKYnoj5VV_8w1iOzYTac3a9j_/view?usp=sharing"  target="_blank"
                class=" w-fit mt-3 rounded-xl modal-open inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-gray-200  hover:bg-gray-200 hover:text-black focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                Shortlisted Applicants for Interview
            </a>
               </div>
            </div> 
        </div>

        </div>
    </section>

<section class="px-12 pb-24">
    <h1 class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl text-center">Present Team</h1>

    <div class="flex md:flex-row flex-col ">
        <div class="md:w-1/4 w-full ">
            <img src="../img/iedc/State Leads.png">
        </div>
        <div class="md:w-1/4 w-full ">
            <img src="../img/iedc/NESTSouth.png">
        </div>
        <div class="md:w-1/4 w-full ">
            <img src="../img/iedc/NESTCentral.png">
        </div>
        <div class="md:w-1/4 w-full ">
            <img src="../img/iedc/NESTNorth.png">
        </div>
    </div>
</section>
	
    
</Layout>

<script is:inline>
    function myFunction() {
        var x = document.getElementById("hidden_div");
        var y = document.getElementById("btn");
        var z = document.getElementById("btn1");


        if (x.style.display === "none") {
            x.style.display = "block";
            z.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
            y.style.display = "block";
            z.style.display = "none";
        }
    }</script>