---
import Layout from "../layouts/Layout.astro";

---

<Layout title="">
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-24" style="background-image:url('/img/AdobeStock_582485671.jpeg')">
		<div class="container my-auto text-center py-7">
			<h1 class="md:text-7xl font-extrabold text-blue-900 text-5xl">
                IEDC TEAM
			</h1>
		</div>
		</div>
	</main>

    <section class="px-12 pt-24 pb-56 md:pb-24">
		<div class="flex md:flex-row flex-col items-center justify-center md:space-x-28 space-x-0">
            <div class="w-56 h-56 text-center">
                <img src="../img/4422e2ff-a4ec-477e-a3d9-ce3e38210a98.jpg" class="object-contain">
                <p class="font-bold pt-1">Shri. Anoop Ambika</p>
                <p>Chief Executive Officer</p>
                <p class="flex justify-center space-x-3">
                    <a href="mailto:ceo@startupmission.in " target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
            
                    </a>
                   <a href="https://www.linkedin.com/in/anoopambika" target="_blank">
                    <svg
                    class="w-4 h-4 text-blue-500 fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    
                    <path
                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                    ></path>
                </svg>
                   </a>
                  </p>
            </div>

            <div class=" w-52 h-52 md:pt-2 pt-28 text-center">
                <img src="../img/9b6f663e-9a36-40fb-9561-5acd5f2f1646.jpg" class=" object-contain">
                <p class="font-bold pt-1">Bergin S Russel</p>
                <p>Assistant Manager</p>
                <p class="flex justify-center space-x-3">
                    <a href="mailto:bergin@startupmission.in" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
            
                    </a>
                   <a href="https://in.linkedin.com/in/berginsrussel" target="_blank">
                    <svg
                    class="w-4 h-4 text-blue-500 fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    
                    <path
                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                    ></path>
                </svg>
                   </a>
                  </p>
            </div>
        </div>
        <!-- <div class="flex md:flex-row flex-col container mx-auto mt-28">
            <div class="w-56 h-56 mx-auto flex">
                <img src="../img/9b6f663e-9a36-40fb-9561-5acd5f2f1646.jpg" class=" object-contain  mx-auto ">
            </div>
            <div class="w-56 h-56 mx-auto flex">
                <img src="../img/4422e2ff-a4ec-477e-a3d9-ce3e38210a98.jpg" class=" object-contain  mx-auto">
            </div>
            <div class="w-56 h-56 mx-auto flex">
                <img src="../img/4422e2ff-a4ec-477e-a3d9-ce3e38210a98.jpg" class=" object-contain  mx-auto">
            </div>
        </div> -->
	</section>
</Layout>