---
import Layout from "../layouts/Layout.astro";

---

<Layout title="">
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-24" style="background-image:url('/img/AdobeStock_582485671.jpeg')">
		<div class="container my-auto text-center py-7">
			<h1 class="md:text-7xl font-extrabold text-blue-900 text-5xl">
                SALT
			</h1>
            <p class="md:text-2xl text-xl font-bold uppercase">Startup Awareness and Leadership Training </p>
		</div>
		</div>
	</main>

    <section class="pb-24 px-12 py-24">
		<div class="flex md:flex-row flex-col">
			<div class="md:w-1/2 w-full mx-auto md:mt-0 mt-4 md:flex hidden rounded-full">
				<img src="../img/AdobeStock_246418891.jpeg" class="object-center rounded-full">
			</div>
			<div class="md:w-1/2 w-full  my-auto px-8 py-8">
                
				<h2 class=" text-2xl text-blue-900 pb-2"><span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl">S</span>tartup<span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl"> A</span>wareness and <span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl">L</span>eadership<span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl"> T</span>raining</h2>
				<p class="w-full text-justify pt-4"><span class=" font-bold">Startup Awareness and Leadership Training</span> is a training program specifically designed for students of 9th & 11th standards. The SALT program will be conducted every Friday and Saturday for three weeks. IEDCs can select a nearby high school to implement this program, while the resources could be provided by the KSUM. The program aims to create awareness about entrepreneurship opportunities among school students and to inculcate a scientific spirit among young minds. Building an entrepreneurial mindset from an early stage is essential, as this is the stage where they can grasp a lot. This Program brings in an interesting teaching pedagogy that would be a perfect fit for the 21st century.</p>
            </div>
		</div>

        <div class="flex md:flex-row flex-col pt-24">
			
			<div class="md:w-1/2 w-full  my-auto px-8 py-8 text-justify leading-7">
				<h2 class="text-2xl text-blue-900 pb-2"><span class="w-full pb-4 md:text-2xl text-blue-900 font-extrabold text-2xl">How to Apply</span></h2>
				<ul class="list-outside list-decimal px-5 ">
                    <li>Nodal Officer shall log in to the Innovate Portal.</li>
                    <li>Register for SALT under “Projects”.</li>
                    <li>You may have to upload the names and contact details of the students who will be taking the role of a resource person.</li>
                </ul>
                <h2 class="text-2xl text-blue-900 pb-2"><span class="w-full pb-4 md:text-2xl text-blue-900 font-extrabold text-2xl">Eligibility</span></h2>
				<p>Students from the 2nd year and above can apply for the post of the resource person.</p>
                <p><span class=" text-red-500">Batch 1 Application Closed</span> - <span class=" text-blue-700 font-bold"><a href="https://drive.google.com/file/d/1_iBbp_iRLTnh9fjbEMK2AIED-anjEOrx/view" target="_blank">Implementing IEDC List</a></span></p>
                <p>Batch 2 Application is Now Open in Innovate Portal under Projects - Last Date is 15 July 2022.<span class=" mx-2 px-2 py-1 bg-blue-800 text-white rounded-full font-semibold"><a href="">Apply Now</a></span></p>
            </div>
            <div class="md:w-1/2 w-full mx-auto md:mt-0 mt-4 md:flex hidden">
				<img src="../img/AdobeStock_574808219.jpeg" class="object-center">
			</div> 
		</div>
	</section>



	<section class="pb-24  px-12">
		<div class="md:flex-row flex-col flex md:space-x-6 space-x-0">
			
			<div class="flex  flex-col md:w-1/2 w-full text-justify my-auto">
                <h2 class="text-2xl text-blue-900 pb-2"><span class="w-full pb-4 md:text-2xl text-blue-900 font-extrabold text-2xl">Batch 1 Updates</span></h2>

                <p>Kerala Startup Mission in collaboration with IEDC Trinity College of Engineering under the leadership of Dr. Arun Surendran, Strategic Director and Principal of Trinity College of Engineering, Trivandrum for 34 IEDCs.</p>
                <p class="py-2">The IEDCs will now identify Schools in the nearby vicinity and implement the SALT Programme specifically designed for students of 9th & 11th standards where selected trained IEDC Core Innovators from IEDCs will be offering training to the school students on Innovation & Entrepreneurship.</p>
                <p class=" text-sky-800 italic text-lg">The First phase of the SALT programme was conducted where trainers from IEDC Trinity College gave the innovators inputs on the modules.</p>
                <p class="py-2 text-sky-800 italic text-lg">The Second phase is to identify Schools and Implement the Programme.</p>
                
            </div>
			<div class="flex  flex-col md:w-1/2 w-full text-justify items-center space-y-4">
                <h2 class="text-2xl text-blue-900 pb-2"><span class="w-full pb-4 md:text-2xl text-blue-900 font-extrabold text-2xl">Timeline of Batch 1</span></h2>
                <div class="p-1 group flex-col bg-white border border-blue-500 h-36 text-center hover:bg-blue-500 bg-opacity-80 hover:text-white">
                    <p class=" text-sm w-fit justify-center text-center mx-1 my-1 bg-orange-500 bg-opacity-80 p-2 text-white font-bold  group-hover:bg-white group-hover:text-black">8th December Saturday</p>
                    <p class=" text-center font-bold">The Mentoring session of SALT Program</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    
                    <p>Kerala Science & Technology Museum and Priyadarshini Planetarium, Trivandrum</p>
                </div>
                <div class="p-1 group flex-col bg-white border border-blue-500 h-36 text-center hover:bg-blue-500 bg-opacity-80 hover:text-white">
                    <p class=" text-sm w-fit justify-center text-center mx-1 my-1 bg-orange-500 bg-opacity-80 p-2 text-white font-bold  group-hover:bg-white group-hover:text-black">8th December Saturday</p>
                    <p class=" text-center font-bold">The Mentoring session of SALT Program</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    
                    <p>Kerala Science & Technology Museum and Priyadarshini Planetarium, Trivandrum</p>
                </div>
                <div class="p-1 group flex-col bg-white border border-blue-500 h-36 text-center hover:bg-blue-500 bg-opacity-80 hover:text-white">
                    <p class=" text-sm w-fit justify-center text-center mx-1 my-1 bg-orange-500 bg-opacity-80 p-2 text-white font-bold  group-hover:bg-white group-hover:text-black">8th December Saturday</p>
                    <p class=" text-center font-bold">The Mentoring session of SALT Program</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    
                    <p>Kerala Science & Technology Museum and Priyadarshini Planetarium, Trivandrum</p>
                </div>
            </div>
		</div>
	  </section>

      <section class="pb-24  px-12">
		<div class="flex md:flex-row flex-col md:space-y-0 space-y-5">
			<div class="flex w-full md:w-1/4 text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
				<a class="mx-auto my-auto" href="https://drive.google.com/file/d/1_iBbp_iRLTnh9fjbEMK2AIED-anjEOrx/view" target="_blank"><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-full py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">List of SALT Implementing Institutions</div></a>
				
			</div>

			<div class="flex w-full md:w-1/4 text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
				<a class="mx-auto my-auto" href="https://drive.google.com/file/d/1ctR6Fb-2noLH9UdesnGhuAmVqcd_1LfG/view" target="_blank"><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">Playbook for Trainers</div></a>

			</div>

			<div class="flex w-full md:w-1/4 text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
                <a class="mx-auto my-auto" target="_blank" href="https://drive.google.com/file/d/1UXP4MP9Em5cscnkhnyLgoIEsslZ_iSVP/view">
                    <div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">SALT Presentation</div>
                </a>

			</div>

            <div class="flex w-full md:w-1/4 text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
				<a class="mx-auto my-auto" target="_blank" href="https://drive.google.com/file/d/18S57_49NAmUFktUV4_jjWqRKUQ3XeOoP/view"><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">Playbook for IEDC</div></a>

			</div>
		</div>
	  </section>
    

</Layout>
