---
import Layout from "../layouts/Layout.astro";

---

<Layout title="">
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-24" style="background-image:url('/img/AdobeStock_582485671.jpeg')">
		<div class="container my-auto text-center py-7">
			<h1 class="md:text-7xl font-extrabold text-blue-900 text-5xl">
                LEAP
			</h1>
            <p class="md:text-2xl text-xl font-bold">LOCAL ENTREPRENEURSHIP ADVANCEMENT PROGRAMME</p>
		</div>
		</div>
	</main>

    <section class="pb-24 px-12 py-24">
		<div class="flex md:flex-row flex-col">
			<div class="md:w-1/2 w-full mx-auto md:mt-0 mt-4 md:flex hidden">
				<img src="img/AdobeStock_100777578.jpeg" class="object-center">
			</div>
			<div class="md:w-1/2 w-full  my-auto px-8 py-8">
				<h2 class=" text-2xl text-blue-900 pb-2"><span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl">L</span>ocal <span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl">E</span>ntrepreneurship <span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl">A</span>dvancement <span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl">P</span>rogram</h2>
				<p class="w-full text-justify">Local Entrepreneurship Advancement Program is an opportunity for the IEDCs to dive into the locality to identify and nurture the entrepreneurship ecosystem in and around their institution. Being the innovation hub of the region, IEDCs can play a pivotal role in empowering the local community by creating a conducive ecosystem to nurture entrepreneurs in the local community. LEAP is envisaged to provide a broader canvas to individual IEDCs to design their respective programs and projects.</p>

				<p class="w-full text-justify pt-4">IEDCs can engage with community organisations, Local Self Governments, research institutes, local entrepreneurs, budding entrepreneurs, alumni industries/startups for the design and implementation of the program. This will also be an opportunity to try a hand at social entrepreneurship through which students and budding entrepreneurs can give back to society and the sky's the limit for this program. In a country like India where opportunities are in every nook and corner, IEDCs may go ahead and explore the unseen and unfound to bring out the best.</p>
            </div>
		</div>

        <div class="flex md:flex-row flex-col">
			
			<div class="md:w-1/2 w-full  my-auto px-8 py-8">
				<h2 class=" text-2xl text-blue-900 pb-2"><span class="w-full pb-4 md:text-4xl text-blue-900 font-extrabold text-2xl">AIMS & OBJECTIVES</span></h2>
				<p class="w-full text-justify">The primary objective of the program is to identify and nurture entrepreneurs by providing them the necessary support. The program is envisaged to transform an IEDC into a local innovation hub which would provide services, infrastructure and other capital requirements to the budding and aspiring entrepreneurs, local businesses, industries, startups, research institutes, and the Local Self Government. Thus, IEDCs will become the backbone of the local economy by boosting employability, employment opportunities, boosting the status of employees, building a problem repository and the corresponding solutions.</p>
				<div class=" py-4" style="display: none;" id="hidden_div">
                    <p class="w-full text-justify">The program aims to address the pain points of the key stakeholders of the local ecosystem through a focused entrepreneurship endeavour. LEAP provides an opportunity to aspiring entrepreneurs to identify a potential business opportunity by exposing them to real-world customer problems.</p>
				<p class="w-full text-justify py-4">The program also aims to help local MSMEs/LSGs, government institutions and communities to find sustainable and cost effective solutions for their critical problems. The program would help MSMEs to join the journey of Industrial Revolution 4.0 sooner. IEDC may need to develop a plan for LEAP Project and share with Kerala Startup Mission to get support to bridge the gap.</p>
                </div>
                <p onclick="myFunction1()"  class="flex cursor-pointer float-right text-red-700 font-bold" id="bb" style="display: block;">Read More</p>

            </div>
            <div class="md:w-1/2 w-full mx-auto md:mt-0 mt-4 md:flex hidden">
				<img src="img/AdobeStock_572847559.jpeg" class="object-center">
			</div> 
		</div>
	</section>


	<section class="pb-24  px-12 ">
		<div class="md:flex-row flex-col flex">
			<div class="flex  flex-col md:w-1/6 w-full justify-center items-center">
			</div>
			<div class="flex  flex-col md:w-1/3 w-full justify-center items-center my-auto">
				<img src="img/LEAP.jpg" class="h-96 w-96 object-contain">
			</div>
			<div class="flex  flex-col md:w-1/3 w-full container items-center justify-center">
				<div class="flex w-full  text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
					<a class="mx-auto my-auto" href=""><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">Application for LEAP (Application Closed)</div></a>
					
				</div>
	
				<div class="flex w-full  text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
					<a class="mx-auto my-auto" href="https://docs.google.com/document/d/e/2PACX-1vSKkfA1PMy4npRow-9WXpc1VT0x9rkZaEu3S2auFSgGniWdgu8OtTZdAsS-HpaAwjjo6fP_svf-YKND/pub" target="_blank"><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">Applied Colleges</div></a>
	
				</div>
	
				<div class="flex w-full  text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
					<a class="mx-auto my-auto" href="https://drive.google.com/file/d/1wA3SB3FhmcNHtMV3KdB1rwXoTgrXO59i/view" target="_blank"><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">LEAP Play Book</div></a>
	
				</div>
			</div>
		</div>
	  </section>

    

</Layout>


<script is:inline>
    function myFunction1() {
        var x = document.getElementById("hidden_div");
       
		var e = document.getElementById("bb");

        if (x.style.display === "none") {
                    x.style.display = "block";
					e.innerHTML="Read Less"
                    
                } else {
                    x.style.display = "none";
					e.innerHTML="Read More"
                   
                }
    }
	</script>