---
import Layout from "../layouts/Layout.astro";

---

<Layout title="">
	<main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full  min-h-screen" style="background-image:url('/img/AdobeStock_417387712.jpg')">
		<div class="container text-left my-auto">
			<h1 class="md:pl-14 md:text-6xl font-bold text-blue-900 md:w-2/3 text-4xl w-full px-6 md:mx-0">
				Innovation and Entrepreneurship Development Centres (IEDC)
			</h1>

			<!-- <Countdown date="2022-09-23T09:00" client:load ></Countdown> -->
		</div>
		</div>

		
	</main>

	<section class="py-24 px-12">
			<div class="flex md:flex-row flex-col md:space-x-10 space-x-0">
				<div class="flex md:w-1/2 w-full">
					<img src="img/AdobeStock_578461886.jpeg" class="rounded-3xl  object-center">
				</div>
				<div class=" md:w-1/2 w-full">
					<h2 class="w-full pb-8 md:text-4xl text-blue-900 font-extrabold text-2xl">LATEST ANNOUNCEMENTS </h2>
					<div class="holder overflow-hidden h-52 w-full">
						<div class="scrolling-text scrollable">
							<ul id="ticker01  ">
								<li><a href="#" class=" hover:underline hover:text-blue-800">IEDC NEST - Work along the vibrant team of IEDC Kerala Startup
										Mission  Apply Now</a></li>
								<li><a href="#" class=" hover:underline hover:text-blue-800">IEDC Fund Request and Annual Report Submission last date extended to
										15 May 2023  Apply Now</a></li>
								<li><a href="#" class=" hover:underline hover:text-blue-800">Academic Internship Programme Apply
											Now</a></li>
								<li><a href="#" class=" hover:underline hover:text-blue-800">New IEDCs Sanction Order Apply
											Now</a></li>
								<li><a href="#" class=" hover:underline hover:text-blue-800">IEDC Application - For Establishing New IEDC in your
										Institution Apply Now</a></li>
								<!-- <li><a href="#">IEDC NEST - Work along the vibrant team of IEDC Kerala Startup
										Mission <span class="text-info"> Apply Now</span></a></li>
								</a></li> -->
	
							</ul>
						</div>
					</div>
				</div>
			</div>
	</section>

	


	<section class="pb-24 px-12">
		<div class="flex md:flex-row flex-col md:space-x-10 space-x-0 ">
			<div class="md:w-1/2 w-full">
				<h2 class="w-full pb-8 md:text-4xl text-blue-900 font-extrabold text-2xl">Innovation and Entrepreneurship Development Centres (IEDC)</h2>
				<p class="w-full text-justify">The Innovation and Entrepreneurship Development Centres (IEDC) are platforms set up in Engineering, Management, Arts & Science Colleges, Medical Institutions, Polytechnics and Universities with an aim to provide students with an opportunity to experiment and innovate. Kerala Startup Mission has set up IEDCs in 425 institutions across the State which provide avenues for creative students to learn, collaborate and transform their innovative ideas into prototypes of viable products and services. IEDCs works as the first launch pad for a student’s entrepreneurial journey and provide them with access to cutting edge technology, world-class infrastructure, high-quality mentorship, early risk capital and global exposure.</p>
				<button id="modal-open" 
					class="mt-3 rounded-xl modal-open inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-orange-500 border border-gray-200  hover:bg-gray-200 hover:text-black focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
						Read More
					  </button></div>
			<div class="flex md:w-1/2 w-full mx-auto md:mt-0 mt-4">
				<img src="img/Untitled design (1).png" class=" rounded-3xl object-center">
			</div>
		</div>
	</section>

	<section class="pb-24 px-12">
		<div class="flex md:flex-row flex-col md:space-x-10 space-x-0 ">
			<div class="flex md:w-1/2 w-full mx-auto md:mt-0 mt-4">
				<img src="img/AdobeStock_246421751.jpeg" class=" rounded-3xl object-center">
			</div>
			<div class="md:w-1/2 w-full">
				<h2 class="w-full pb-8 md:text-4xl text-blue-900 font-extrabold text-2xl">KERALA STARTUP MISSION (KSUM)</h2>
				<p class="w-full text-justify">Kerala Startup Mission (KSUM) is the State nodal agency for the promotion of innovation and entrepreneurship under Department of Electronics and IT, Government of Kerala. Kerala Startup Mission plays a pivotal role in developing a vibrant Startup ecosystem in the State of Kerala.</p>

					<p>The primary objectives of KSUM is to undertake the planning, establishment and management of Technology Business Incubators/Accelerators in Kerala and thereby promote technology-based entrepreneurship activities and develop a conducive environment required for promoting high technology-based business activities.</p>
					
					</p>
					<button id="modal-ksum" 
					class="mt-3 rounded-xl modal-open inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-orange-500 border border-gray-200  hover:bg-gray-200 hover:text-black focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
						Read More
					  </button>
			
			
		</div>
	</section>

	  <div id="modal" class="fixed z-10 inset-0  hidden bg-opacity-60">
		<div class="flex items-center justify-center min-h-screen px-4 ">
		  <div class="bg-white rounded-lg p-6  border-2 border-slate-500">
			<!-- Modal Content -->
			<h2 class="text-xl font-bold mb-4">Innovation and Entrepreneurship Development Centres (IEDC)</h2>
			<p class=" text-justify">Innovation and Entrepreneurship Development Centre (IEDC) is a flagship initiative of Kerala Startup Mission to promote innovation and entrepreneurship among the student and academic fraternity in the educational institutions in the State of Kerala and considered as an umbrella programme that would play an instrumental role in fostering innovation culture in Academic institutions.</p>
			<button id="modal-close" class=" float-right bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mt-4">
			  Close
			</button>
		  </div>
		</div>
	  </div>
	  

	  <div id="modalksum" class="fixed z-10 inset-0  hidden">
		<div class="flex items-center justify-center min-h-screen px-4 mt-4 overflow-scroll md:overscroll-none">
		  <div class="bg-white rounded-lg p-6  border-2 border-slate-500">
			<!-- Modal Content -->
			<h2 class="text-xl font-bold mb-4 ">KERALA STARTUP MISSION</h2>
			<p class=" text-justify">Being the apex body for the Startup activities in the State, Kerala Startup Mission supports incubators in the State of Kerala to achieve their full potential by extending financial, technological and mentoring support to incubated start-ups. Kerala Startup Mission helps Startup Founders to execute their vision and compete on the global stage by providing them with risk capital, Incubation support, expert mentoring, and business network when traditional financial and other institutions cannot.</p>
			<p class="py-5">The objectives of Kerala Startup Mission are;</p>

			<p class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
			  </svg>
			  To promote knowledge driven and technology based Startup ventures.</p>

			  <p class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
			  </svg>
			  To establish and Management of Technology Business Incubators and thereby create the infrastructure and environment required for promoting technology-based start-ups.</p>
			
			  <p class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
			  </svg>
			  To encourage leading entrepreneurs and companies to set up high technology business activities in the region.</p>

			  <p class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
			  </svg>
			  To undertake major initiatives in Innovation promotion in the region.</p>


			  <p class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
			  </svg>
			  To build appropriate models for Entrepreneurship Development through research.</p>

			  <p class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
			  </svg>
			  To create a knowledge, innovation and entrepreneurial support system through a collaborative community of national and international experts, practitioners and other partners.</p>


			  <button id="modal-closeksum" class=" float-right bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mt-4">
			  Close
			</button>
		  </div>
		</div>
	  </div>


	  <section class="pb-24  px-12">
		<div class="flex md:flex-row flex-col">
			<div class="flex w-full md:w-1/3 text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
				<a class="mx-auto my-auto" href="https://drive.google.com/file/d/1blLnBMCFcuKSmQi0fy2lQC7Vo1Fp09Z4/view" target="_blank"><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">Schemes - Handbook</div></a>
				
			</div>

			<div class="flex w-full md:w-1/3 text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
				<a class="mx-auto my-auto" href="https://drive.google.com/file/d/1hCae3lvemi7L4_8dDob6Qg2sHbOQZ8uu/view" target="_blank"><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">IEDC - Nodal Officer Handbook</div></a>

			</div>

			<div class="flex w-full md:w-1/3 text-center md:h-28" style="background-image:url('/img/Untitled design.png')">
				<a class="mx-auto my-auto" href=""><div class=" hover:bg-orange-500 hover:bg-opacity-80 bg-slate-800 text-white h-fit py-4 px-4 mx-auto my-auto bg-opacity-80 text-lg font-bold">Join the Tribe - Student Application Form</div></a>

			</div>
		</div>
	  </section>


	  <section class="pb-24 px-5">
			<div class="bg-white shadow-lg w-full flex rounded-tl-3xl rounded-br-3xl shadow-teal-100 border">
				<div class="flex md:flex-row flex-col p-14 h-full px-20 w-full space-x-0 md:space-x-6">
					<div class="flex md:w-1/4 h-full w-full">
						<div class="flex flex-col leading-loose w-full space-y-10" >
							<div  onclick="changeelmt(this.id,'vision','visionh')" id="purposeid" class="  group flex w-full  pb-2 border-b border-blue-900 cursor-pointer hover:border-red-600">
								<h1 id="visionh" class="aa w-full flex uppercase text-xl font-bold group-hover:group-hover:text-orange-500 justify-between text-orange-500">VISION <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:translate-x-3 group-hover:duration-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
								  </svg>
								  </h1>
							</div>
							<div class=" group flex w-full  pb-2 border-b border-blue-900 cursor-pointer hover:border-red-600" onclick="changeelmt(this.id,'purpose','purposeh')" id="purposeid">
								<h1 id="purposeh" class=" aa w-full flex uppercase text-xl font-bold group-hover:text-orange-500 justify-between text-blue-900">PURPOSE <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:translate-x-3 group-hover:duration-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
								  </svg>
								  </h1>
							</div>
							<div class=" group flex w-full  pb-2 border-b border-blue-900 cursor-pointer hover:border-red-600"  onclick="changeelmt(this.id,'mission','missionh')" id="missionid">
								<h1 id="missionh" class="aa w-full flex uppercase text-xl font-bold group-hover:text-orange-500 justify-between text-blue-900">MISSION <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:translate-x-3 group-hover:duration-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
								  </svg>
								  </h1>
							</div>
							<div class=" group flex w-full  pb-2 border-b border-blue-900 cursor-pointer hover:border-red-600"  onclick="changeelmt(this.id,'objectives','objectiveh')" id="objectivesid">
								<h1 id="objectiveh" class="aa w-full flex uppercase text-xl font-bold group-hover:text-orange-500 justify-between text-blue-900">OBJECTIVES <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:translate-x-3 group-hover:duration-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
								  </svg>
								  </h1>
							</div>
						</div>
					</div>
					<div class="flex md:flex-row md:w-3/4 w-full">
						<div  id="vision" class="flex space-x-0 md:space-x-6 divcls">
							<div class="w-1/3 h-full md:flex hidden mx-auto my-auto">
								<img src="img/Untitled design (2).png" class="rounded-xl">
							</div>
							<div class="md:w-2/3 h-full text-justify w-full">
								<p class="py-9 text-base">To create an innovation culture among Innovators by introducing them the State-of-the-art technologies and positioning the Institution as a Learning and Innovation Platform by delivering technically competent and skilled Entrepreneurs.</p>
							</div>
						</div>
						
						<div id="purpose" class="flex space-x-0 md:space-x-6 divcls"  style="display:none">
							<div class="w-1/3 h-full md:flex hidden mx-auto my-auto">
								<img src="img/Untitled design (3).png" class="rounded-xl">
							</div>
							<div class="md:w-2/3 h-full text-justify w-full">
								<p class="py-9 text-base">The purpose of the IEDCs will be to act as an aspirational platform, for the l student entrepreneurs and tech savvy innovators, in skilling and sharpening their entrepreneurial skill sets. The selected innovators will be exposed to Innovation culture, emerging technologies and Business aspects with the implicit assumption that the delta will become an entrepreneur and all the other skilled talents will get high end jobs with the kind of exposure and skills they acquire.</p>
							</div>
						</div>
						<div  id="mission" class="flex space-x-0 md:space-x-6 divcls"  style="display:none" >
							<div class="w-1/3 h-full md:flex hidden mx-auto my-auto">
								<img src="img/mission-removebg-preview.png" class="rounded-xl">
							</div>
							<div class="md:w-2/3 h-full text-justify w-full">
								<p class="py-9 text-base">To create IEDC as an Innovation Platform and to create future founders by promoting Innovation, Technology and Business Learning among student community.</p>
							</div>
						</div>
						<div  id="objectives" class="flex space-x-0 md:space-x-6 divcls" style="display:none" >
							<div class="w-1/3 h-full md:flex hidden mx-auto my-auto">
								<img src="img/objectives.png" class="rounded-xl">
							</div>
							<div class="md:w-2/3 h-full text-justify w-full list-inside list-disc">
								<!-- <p class="py-9">To create an innovation culture among Innovators by introducing them the State-of-the-art technologies and positioning the Institution as a Learning and Innovation Platform by delivering technically competent and skilled Entrepreneurs.</p> -->
								<ul class="list-outside list-disc text-base">
									<li>To promote an innovation driven entrepreneurship culture among the students</li>
									<li>To develop and promote commercially viable innovative product and solution from the students.</li>
									<li>To promote enterprise among budding technopreneurs and thereby creating more employment opportunities</li>
									<li>To bridge the gap between Industry and Academia</li>
									<li>To support the budding Entrepreneurs through Grants and to create an entrepreneurship flavour in the academic fraternity.</li>
								</ul>
							</div>
						</div>
					</div>
					
					


				</div>
			</div>
	  </section>

</Layout>
<script is:inline>
	function changeelmt(d, div_id,h_id) {
	  var TextElements = document.getElementsByClassName("aa");
  
	  for (var i = 0, max = TextElements.length; i < max; i++) {
		TextElements[i].style.color = "rgb(30 58 138 / var(--tw-text-opacity))";
	  }
	  document.getElementById(h_id).style.color = "rgb(249 115 22 / var(--tw-bg-opacity))";
	  for (let element of document.getElementsByClassName("divcls")) {
		element.style.display = "none";
	  }
	  document.getElementById(div_id).style.display = "flex";
  
	}
  </script>
  
<script is:inline>
	const modalOpen = document.getElementById('modal-open');
	const modalClose = document.getElementById('modal-close');
	const modal = document.getElementById('modal');
  
	modalOpen.addEventListener('click', () => {
	  modal.classList.remove('hidden');
	 
	});
  
	modalClose.addEventListener('click', () => {
	  modal.classList.add('hidden');
	});

  </script>
  
  <script is:inline>
	const modalOpenksum = document.getElementById('modal-ksum');
	const modalCloseksum = document.getElementById('modal-closeksum');
	const modalksum = document.getElementById('modalksum');
  
	modalOpenksum.addEventListener('click', () => {
		modalksum.classList.remove('hidden');
	});
  
	modalCloseksum.addEventListener('click', () => {
		modalksum.classList.add('hidden');
	});

  </script>

<style is:global>
	.animate-on-scroll {
	  opacity: 0;
	}
  
	.animate-on-scroll.animate__fadeInLeft {
	  opacity: 1;
	  animation-duration: 1s;
	}
	
  </style>
<style>

.container_rr {
            width: 300px; /* Adjust the width as needed */
            height: 200px; /* Adjust the height as needed */
            overflow: hidden;
            border: 1px solid #ccc;
        }

	 /* Scrolling text styles */
	 .scrolling-text {
            animation: scroll-up 20s linear infinite;
        }
		
        /* Keyframes for scrolling animation */
        @keyframes scroll-up {
            0% { transform: translateY(0); }
            100% { transform: translateY(-100%); }
        }

</style>
<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
	const animateOnScroll = document.querySelector('.animate-on-scroll');
  
	const observer = new IntersectionObserver(entries => {
	  entries.forEach(entry => {
		if (entry.isIntersecting) {
		  entry.target.classList.add('animate__fadeInLeft');
		} else {
		  entry.target.classList.remove('animate__fadeInLeft');
		}
	  });
	});
  
	observer.observe(animateOnScroll);
  </script>