
<nav
  class="bg-black  border-gray-200 px-2 sm:px-4 py-2 dark:bg-gray-900 fixed w-full z-50"
>
  <div class="bg-orange-500 p-3 md:mx-10 mx-5">
    <div class="flex mx-auto justify-center">
      <h6 class="text-white font-bold md:text-base text-sm">
        INNOVATE Portal - Student Application Link
        <span class=""
          ><a
            href=""
            class=" hover:bg-white hover:text-black text-white border md:py-2 md:px-4 py-1 px-2 rounded-full md:text-base text-sm"
            >Apply Now</a
          ></span
        >
      </h6>
    </div>
  </div>
  <div class="container flex flex-wrap justify-between items-center mx-auto p-0">
    <a href="/" class="flex items-center">
      <img src="/img/IEDC White Logo1.png" alt="Logo" class="h-14 p-3" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="  inline-flex items-center p-2 ml-3 text-sm  rounded-lg md:hidden "
      aria-controls="navbar-default"
      aria-expanded="false"
      id="bt1"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="white"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path></svg
      >
    </button>

    <div class="md:px-16 hidden w-full md:block md:w-auto absolute md:relative top-24 md:top-0 left-0"
      id="navbar-default"
    >
      <ul class="md:bg-black bg-white md:m-0 m-3 border flex flex-col p-4 mt-8 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
      >
          <li class=" group">
            <a class="md:text-white group-hover:text-orange-500 font-bold uppercase text-black" href="/">Home</a>
            <div class="absolute hidden bg-black text-white  pt-5 pb-2 w-56 group-hover:block">
              <a href="https://startupmission.kerala.gov.in/"  target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">KSUM</a>
              <a href="https://drive.google.com/file/d/1HZY9YzZMZpcxsNVur3axE9eUsySKuHYK/view?usp=sharing" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Ecosystem Enablers</a>
              <a href="/iedc_design/iedcteam"  class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">IEDC Team</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Kerala Innovation Network</a>
            </div>
          </li>

          <li class=" group md:py-0 py-4">
            <a class="md:text-white group-hover:text-orange-500 font-bold uppercase text-black" href="#">Projects</a>
            <div class="absolute hidden bg-black text-white  pt-5 pb-2 w-56 group-hover:block">
              <a href="/iedc_design/iedcnest" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">IEDC NEST</a>
              <a href="/iedc_design/iedcleap"class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">LEAP</a>
              <a href="/iedc_design/iedcsalt"  class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">SALT</a>
              <a href="#" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Accreditation of IEDCs</a>
              <a href="#" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Best Practices</a>
              <a href="#"  class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Cluster IEDCs</a>
              <a href="#"  class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">IPL</a>
            </div>
          </li>
          <li class=" group">
            <a class="md:text-white group-hover:text-orange-500 font-bold uppercase text-black" href="#">IEDC FUND UPDATES</a>
          </li>
            
          <li class=" group md:py-0 py-4">
            <a class="md:text-white group-hover:text-orange-500 font-bold uppercase text-black" href="#"> Events & Activities</a>
            <div class="absolute hidden bg-black text-white  pt-5 pb-2 w-56 group-hover:block">
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Latest Events</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Campus Green</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">IEDC News Letters</a>
              <a href="/iedc_design/iedcwebinar" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">IEDC Webinar Series</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">KSUM IEDC Programs</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">KSUM - MDP</a>
              
            </div>
          </li>
          <li class=" group">
            <a class="md:text-white group-hover:text-orange-500 font-bold uppercase text-black" href="#">Schemes</a>
            <div class="absolute hidden bg-black text-white  pt-5 pb-2 w-56 group-hover:block">
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Latest Events</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Campus Green</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">IEDC News Letters</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">IEDC Webinar Series</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">KSUM IEDC Programs</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">KSUM - MDP</a>
              
            </div>
          </li>
         
          <li class=" group md:py-0 py-4">
            <a class="md:text-white group-hover:text-orange-500 font-bold uppercase text-black" href="#">More</a>
            <div class="absolute hidden bg-black text-white  pt-5 pb-2 w-56 group-hover:block">
              <!-- <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Kerala Innovation Network</a> -->
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Innovate Portal</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">IEDC summit</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">FAQ</a>
              <a href="#" target="_blank" class="block px-4 py-2 border-l-4 border-black hover:border-l-orange-500 hover:duration-500 hover:text-orange-500">Contact</a>
            </div>
          </li>

         
          
        </li>
      </ul>
    </div>
  </div>

  <script is:inline>
    var button = document.querySelector('[data-collapse-toggle="navbar-default"]');
    var target = button.getAttribute("data-collapse-toggle");
    var z = document.getElementById("bt1");
    
     button.addEventListener("click", function () {
      document.getElementById(target).classList.toggle("hidden");
     
    });

  </script>
  
</nav>
